:root {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-secondary-light: #f9f8fe;
    --color-tertiary: #676767;

    --color-bg: var(--color-secondary);
    --color-bg-alt: var(--color-secondary-light);

    --font-primary: 'Montserrat';
    --font-secondary: 'Poppins';
    --font-tertiary: 'Inter';

    --leading-xs: 1.28;
    --leading-sm: 1.5;
    --leading-base: 1.6;

    --text-xs: 0.75rem; /* 12px */
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem; /* 16px */
    --text-md: 1.125rem; /* 18px */
    --text-lg: 1.25rem; /* 20px */
    --text-xl: 1.375rem; /* 22px */
    --text-2xl: 2rem; /* 32px */
    --text-4xl: 2.5rem; /* 40px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--text-base);
    line-height: var(--leading-base);
}

.app {
    font-family: var(--font-secondary), sans-serif;
    color: var(--color-primary);
    background-color: var(--color-bg);
}

.link {
    text-decoration: none;
    color: inherit;
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Utils */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Container */
.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

/* Buttons */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-tertiary), sans-serif;
    font-weight: 600;
    font-size: var(--text-sm);
    cursor: pointer;
    padding: 10px 23px;
    border-radius: 8px;
    line-height: normal;
    min-height: 40px;
    width: 100%;
}

.button_primary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.button_outlined {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.button_text {
    background-color: transparent;
    border: none;
    padding-inline: 0;
}

.button__icon_text {
    width: 24px;
    height: 24px;
    color: var(--color-primary);
    margin-left: 10px;
}

/* Section */
.section:nth-of-type(even) {
    background-color: var(--color-bg-alt);
}

.section__title {
    font-family: var(--font-primary), sans-serif;
    font-weight: 700;
    font-size: var(--text-2xl);
    line-height: var(--leading-xs);
}

.section__subtitle {
    font-family: var(--font-secondary), sans-serif;
    font-weight: 700;
    font-size: var(--text-lg);
}

.section__label {
    font-size: var(--text-base);
    font-weight: 500;
    line-height: var(--leading-sm);
}

.section__intro-text {
    font-size: var(--text-base);
}

.section__text {
    font-size: var(--text-sm);
}

/* Input */
.input {
    padding: 11px 16px;
    border: 1px solid var(--color-primary);
    background-color: transparent;
    border-radius: 8px;
    min-height: 40px;
    font-family: var(--font-tertiary), sans-serif;
    font-size: var(--text-sm);
    width: 100%;
}

.input::placeholder {
    color: var(--color-tertiary);
}

/* Header */
.header {
    background-color: var(--color-bg);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;
}

.header__nav-list {
    display: flex;
    gap: 16px;
    list-style: none;
}

.header__nav-link {
    font-family: var(--font-tertiary), sans-serif;
    line-height: normal;
    padding: 0 8px;
}

/* Main section*/
.main {
    padding-bottom: 48px;
}

.main__image-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.main__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.main__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 40px;
}

.main .section__intro-text {
    padding-right: 0;
}

.main__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

/* New way section*/
.new-way {
    padding: 48px 0;
}

.new-way__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.new-way__info {
    padding: 0;
    margin-top: 0;
}

.new-way .section__title {
    margin-top: 16px;
}

.new-way .section__intro-text {
    margin-top: 16px;
}

.new-way__features {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
}

.new-way__feature {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.new-way__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
}

.new-way__image-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
}

.new-way__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Power section */
.power {
    padding: 48px 0;
}

.power__info {
    max-width: 100%;
}

.power .section__title {
    margin-top: 16px;
}

.power .section__intro-text {
    margin-top: 16px;
}

.power__features {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 40px;
}

.power__image-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
}

.power__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.power .section__subtitle {
    margin-top: 16px;
}

.power .section__text {
    margin-top: 8px;
}

.power__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 40px;
}

/* Secrets section */
.secrets {
    padding: 111px 0 112px;
}

.secrets__content {
    display: flex;
    align-items: center;
    gap: 80px;
}

.secrets__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secrets .section__label {
    margin-top: 6px;
}

.secrets .section__title {
    margin-top: 22px;
}

.secrets .section__intro-text {
    margin-top: 20px;
}

.secrets__buttons {
    display: flex;
    gap: 16px;
    margin-top: 48px;
}

.secrets__image-wrapper {
    flex: 1;
    width: 100%;
    height: 601px;
    overflow: hidden;
    border-radius: 8px;
}

.secrets__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Inspiration */
.inspiration {
    padding: 97px 0 92px;
}

.inspiration .section__title {
    text-align: center;
}

.inspiration__features {
    display: flex;
    gap: 48px;
    margin-top: 83px;
}

.inspiration__feature {
    flex: 1;
}

.inspiration__image-wrapper {
    width: 100%;
    height: 222px;
    overflow: hidden;
    border-radius: 8px;
}

.inspiration__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inspiration .section__subtitle {
    margin-top: 16px;
    text-align: center;
}

.inspiration .section__text {
    margin-top: 16px;
    text-align: center;
}

.inspiration__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

/* Impact */
.impact {
    padding: 92px 0 87px;
}

.impact__content {
    display: flex;
    align-items: center;
    gap: 80px;
}

.impact__info {
    flex: 1;
}

.impact .section__title {
    margin-top: 1px;
}

.impact .section__intro-text {
    margin-top: 18px;
}

.impact__features {
    display: flex;
    gap: 16px;
    margin-top: 39px;
}

.impact__feature {
    flex: 1;
}

.impact__subtitle {
    font-weight: 700;
    font-size: var(--text-4xl);
}

.impact .section__text {
    margin-top: 7px;
}

.impact__buttons {
    display: flex;
    gap: 16px;
    margin-top: 46px;
}

.impact__image-wrapper {
    flex: 1;
    width: 100%;
    height: 601px;
    overflow: hidden;
    border-radius: 8px;
}

.impact__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Updates */
.updates {
    padding: 108px 0;
}

.updates__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.updates .section__title {
    margin-top: 2px;
}

.updates .section__intro-text {
    margin-top: 17px;
}

.updates__form {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 484px;
    width: 100%;
    margin-top: 48px;
}

.updates__input {
    flex: 1;
}

.updates__text {
    margin-top: 16px;
    font-size: var(--text-xs);
    color: var(--color-tertiary);
}

/* Contacts */
.contacts {
    padding: 90px 0;
}

.contacts__content {
    display: flex;
    gap: 80px;
}

.contacts__info {
    flex: 1;
}

.contacts .section__label {
    margin-top: 2px;
}

.contacts .section__title {
    margin-top: 19px;
}

.contacts .section__intro-text {
    margin-top: 18px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 47px;
}

.contacts__address {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-style: normal;
}

.contacts__icon {
    width: 32px;
    height: 32px;
    color: var(--color-primary);
}

.contacts__email {
    text-decoration: underline;
}

.contacts .button {
    display: flex;
    justify-content: start;
    margin-top: 4px;
}

.contacts__image-wrapper {
    flex: 1;
    place-self: flex-end;
    margin-bottom: 62px;
    width: 100%;
    height: 442px;
    overflow: hidden;
    border-radius: 8px;
}

.contacts__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Footer */
.footer {
    padding: 152px 0;
    background-color: var(--color-bg-alt);
}

.footer__content {
    display: flex;
    gap: 80px;
}

.footer__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .section__title {
    font-size: var(--text-2xl);
}

.footer .section__intro-text {
    margin-top: 15px;
}

.footer__form {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-top: 48px;
}

.footer__input {
    flex: 1;
}

.footer__text {
    margin-left: 4px;
    margin-top: 16px;
    font-size: var(--text-xs);
    color: var(--color-tertiary);
}

.footer__link-groups {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 84px;
    margin-top: 3px;
}

.footer__link-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.footer__link {
    display: flex;
    gap: 8px;
    align-items: center;
}

.footer__link-icon {
    width: 24px;
    height: 24px;
    color: var(--color-primary);
}

@media (min-width: 600px) {
    /* New way section */
    .new-way__image-wrapper {
        height: 450px;
    }
}

@media (min-width: 768px) {
    :root {
        --text-4xl: 3rem;
    }

    .container {
        padding: 0 40px;
    }

    .button {
        width: auto;
    }

    .section__title {
        font-size: var(--text-4xl);
    }

    .section__subtitle {
        font-size: var(--text-xl);
    }

    .section__label {
        font-size: var(--text-md);
    }

    .section__intro-text {
        font-size: var(--text-md);
    }

    .section__text {
        font-size: var(--text-base);
    }

    .input {
        width: auto;
    }

    /* Main section */
    .main {
        padding-bottom: 80px;
    }

    .main__image-wrapper {
        height: 450px;
    }

    .main__content {
        gap: 48px;
        padding-top: 60px;
    }

    .main__buttons {
        flex-direction: row;
        gap: 16px;
    }

    /* New way section */
    .new-way {
        padding: 80px 0;
    }

    .new-way__content {
        align-items: center;
        gap: 48px;
    }

    .new-way__features {
        flex-direction: row;
        gap: 16px;
        margin-top: 40px;
    }

    .new-way__buttons {
        flex-direction: row;
        gap: 16px;
        margin-top: 40px;
    }

    /* Power section */
    .power {
        padding: 80px 0;
    }

    .power__info {
        max-width: 700px;
    }

    .power__features {
        flex-direction: row;
        gap: 32px;
        margin-top: 60px;
    }

    .power__image-wrapper {
        height: 200px;
    }

    .power__feature {
        flex: 1;
    }

    .power__buttons {
        flex-direction: row;
        gap: 16px;
        margin-top: 60px;
    }
}

@media (min-width: 900px) {
    /* New way section */
    .new-way__content {
        flex-direction: row;
    }

    .new-way__info {
        flex: 1;
    }

    .new-way__image-wrapper {
        flex: 1;
    }
}

@media (min-width: 1024px) {
    :root {
        --text-4xl: 3.25rem; /* 52px */
    }

    .container {
        padding: 0 80px;
    }

    /* Main section */
    .main {
        padding-bottom: 79px;
    }

    .main__image-wrapper {
        height: 595px;
    }

    .main__content {
        flex-direction: row;
        gap: 80px;
        padding-top: 83px;
    }

    .main .section__title {
        flex: 1;
    }

    .main__description {
        flex: 1;
    }

    .main .section__intro-text {
        padding-right: 40px;
    }

    /* New way section */
    .new-way {
        padding: 109px 0 108px;
    }

    .new-way__content {
        gap: 80px;
    }

    .new-way__info {
        padding: 20px 0;
        margin-top: 5px;
    }

    .new-way .section__title {
        margin-top: 22px;
    }

    .new-way .section__intro-text {
        margin-top: 20px;
    }

    .new-way__features {
        margin-top: 52px;
    }

    .new-way__feature {
        gap: 18px;
    }

    .new-way__buttons {
        margin-top: 48px;
    }

    .new-way__image-wrapper {
        height: 601px;
    }

    /* Power section */
    .power {
        padding: 110px 0 105px;
    }

    .power__info {
        max-width: 848px;
    }

    .power .section__title {
        margin-top: 22px;
    }

    .power .section__intro-text {
        margin-top: 20px;
    }

    .power__features {
        gap: 48px;
        margin-top: 80px;
    }

    .power__image-wrapper {
        height: 222px;
    }

    .power .section__subtitle {
        margin-top: 19px;
    }

    .power .section__text {
        margin-top: 18px;
    }

    .power__buttons {
        margin-top: 80px;
    }
}