* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-text-primary: #000000;
    --color-text-secondary: #ffffff;
    --color-text-tertiary: #676767;
    --color-bg: #ffffff;
    --color-bg-light: #f9f8fe;

    --font-primary: 'Montserrat';
    --font-secondary: 'Poppins';
    --font-tertiary: 'Inter';

    --font-xs: 0.75rem; /* 12px */
    --font-sm: 0.875rem; /* 14px */
    --font-base: 1rem; /* 16px */
    --font-md: 1.125rem; /* 18px */
    --font-lg: 1.25rem; /* 20px */
    --font-xl: 1.375rem; /* 22px */
    --font-4xl: 3.25rem; /* 52px */
}

html {
    font-size: var(--font-base);
    line-height: 1.6;
}

body {
    font-family: var(--font-secondary), sans-serif;
    color: var(--color-text-primary);
    background-color: var(--color-bg);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Utils */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Container */
.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 80px;
    margin: 0 auto;
}

/* Buttons */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-tertiary), sans-serif;
    font-weight: 600;
    font-size: var(--font-sm);
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
    min-height: 40px;
}

.button--primary {
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
}

.button--outlined {
    background-color: transparent;
    color: var(--color-text-primary);
    border: 1px solid var(--color-primary);
}

.button--text {
    background-color: transparent;
    border: none;
    padding-inline: 0;
}

.button__icon--text {
    width: 24px;
    height: 24px;
    color: var(--color-text-primary);
    margin-left: 10px;
}

/* Section */
section:nth-of-type(even), section:last-of-type {
    background-color: var(--color-bg-light);
}

.section__title {
    font-family: var(--font-primary), sans-serif;
    font-weight: 700;
    font-size: var(--font-4xl);
    line-height: 1.28;
}

.section__subtitle {
    font-family: var(--font-secondary), sans-serif;
    font-weight: 700;
    font-size: var(--font-xl);
}

.section__label {
    font-size: var(--font-md);
    font-weight: 500;
    line-height: 1.5;
}

.section__intro-text {
    font-size: var(--font-md);
}

.section__text {
    font-size: var(--font-base);
}

/* Input */
input {
    padding: 11px 16px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    min-height: 40px;
    font-family: var(--font-tertiary), sans-serif;
    font-size: var(--font-sm);
}

input::placeholder {
    color: var(--color-text-tertiary);
}

/* Header */
.header {
    background-color: var(--color-bg);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;
}

.header__nav-list {
    display: flex;
    gap: 16px;
    list-style: none;
}

.header__nav-link {
    font-family: var(--font-tertiary), sans-serif;
    line-height: 1;
    padding: 0 8px;
}

.header__nav-link:hover {
    text-decoration: underline;
}

/* Main section*/
.main {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}

.main__image-wrapper {
    width: 100%;
    height: 595px;
    overflow: hidden;
}

.main__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.main__content {
    display: flex;
    padding-top: 74px;
}

.main .section__title {
    flex: 1;
}

.main__description {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 74px;
    padding-right: 40px;
}

.main__buttons {
    display: flex;
    gap: 16px;
}

/* New way section*/
.new-way {
    padding: 111px 0;
}

.new-way__content {
    display: flex;
    gap: 80px;
}

.new-way__info {
    flex: 1;
    padding: 20px 0;
}

.new-way .section__title {
    margin-top: 16px;
}

.new-way .section__intro-text {
    margin-top: 20px;
}

.new-way__features {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

.new-way__feature {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.new-way__buttons {
    display: flex;
    gap: 16px;
    margin-top: 48px;
}

.new-way__image-wrapper {
    flex: 1;
    width: 100%;
    height: 601px;
    overflow: hidden;
    border-radius: 8px;
}

.new-way__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Power section */
.power {
    padding: 108px 0;
}

.power__info {
    max-width: 848px;
}

.power .section__title {
    margin-top: 16px;
}

.power .section__intro-text {
    margin-top: 20px;
}

.power__features {
    display: flex;
    gap: 48px;
    margin-top: 80px;
}

.power__feature {
    flex: 1;
}

.power__image-wrapper {
    width: 100%;
    height: 222px;
    overflow: hidden;
    border-radius: 8px;
}

.power__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.power .section__subtitle {
    margin-top: 16px;
}

.power .section__text {
    margin-top: 16px;
}

.power__buttons {
    display: flex;
    gap: 16px;
    margin-top: 80px;
}

/* Secrets section */
.secrets {
    padding: 111px 0;
}

.secrets__content {
    display: flex;
    gap: 80px;
}

.secrets__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secrets .section__title {
    margin-top: 16px;
}

.secrets .section__intro-text {
    margin-top: 20px;
}

.secrets__buttons {
    display: flex;
    gap: 16px;
    margin-top: 48px;
}

.secrets__image-wrapper {
    flex: 1;
    width: 100%;
    height: 601px;
    overflow: hidden;
    border-radius: 8px;
}

.secrets__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Inspiration */
.inspiration {
    padding: 92px 0;
}

.inspiration .section__title {
    text-align: center;
}

.inspiration__features {
    display: flex;
    gap: 48px;
    margin-top: 80px;
}

.inspiration__feature {
    flex: 1;
}

.inspiration__image-wrapper {
    width: 100%;
    height: 242px;
    overflow: hidden;
    border-radius: 8px;
}

.inspiration__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inspiration .section__subtitle {
    margin-top: 16px;
    text-align: center;
}

.inspiration .section__text {
    margin-top: 16px;
    text-align: center;
}

.inspiration__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

/* Impact */
.impact {
    padding: 92px 0;
}

.impact__content {
    display: flex;
    gap: 80px;
}

.impact__info {
    flex: 1;
}

.impact .section__intro-text {
    margin-top: 16px;
}

.impact__features {
    display: flex;
    gap: 16px;
    margin-top: 48px;
}

.impact__feature {
    flex: 1;
}

.impact__subtitle {
    font-weight: 700;
    font-size: var(--font-4xl);
}

.impact .section__text {
    margin-top: 16px;
}

.impact__buttons {
    display: flex;
    gap: 16px;
    margin-top: 48px;
}

.impact__image-wrapper {
    flex: 1;
    width: 100%;
    height: 601px;
    overflow: hidden;
    border-radius: 8px;
}

.impact__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Updates */
.updates {
    padding: 108px 0;
}

.updates__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.updates .section__intro-text {
    margin-top: 16px;
}

.updates__form {
    display: flex;
    gap: 16px;
    max-width: 473px;
    width: 100%;
    margin-top: 48px;
}

.updates__input {
    flex: 1;
}

.updates__text {
    margin-top: 16px;
    font-size: var(--font-xs);
    color: var(--color-text-tertiary);
}

/* Contacts */
.contacts {
    padding: 90px 0;
}

.contacts__content {
    display: flex;
    gap: 80px;
}

.contacts__info {
    flex: 1;
}

.contacts .section__title {
    margin-top: 16px;
}

.contacts .section__intro-text {
    margin-top: 20px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 48px;
}

.contacts__address {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-style: normal;
}

.contacts__icon {
    width: 32px;
    height: 32px;
    color: var(--color-text-primary);
}

.contacts .button {
    display: flex;
    justify-content: start;
    margin-top: 16px;
}

.contacts__image-wrapper {
    flex: 1;
    place-self: flex-end;
    margin-bottom: 60px;
    width: 100%;
    height: 442px;
    overflow: hidden;
    border-radius: 8px;
}

.contacts__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}